main{
    background-color: rgb(247, 0, 0);
    width:100%;
    height:auto;
    min-height:500px;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}

#main_info {
    width: 200px;
    background-color: white;
    padding: 10px;
    overflow-y: auto;
    max-height: 500px;

}