body{
    margin:0px;
}
#map_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#main_map{
    border: 0px;
    width: 100vw;
    height: 100vh;
}